numpy
pandas
scikit-learn
scipy

torch
torchvision
torchaudio

tensorflow

matplotlib
seaborn

jupyter
notebook

tqdm

joblib

pyyaml

numpy==2.1.1
pandas==2.3.0
scikit-learn==1.7.0
scipy==1.15.3
torch==2.8.0
tensorflow==2.19.0
matplotlib==3.10.3
seaborn==0.13.2
tqdm==4.67.1
joblib==1.5.1